<div class="container" style="padding: 2rem 3rem;">
    <div class="row">
        <div class="col-md-8 p-2">
            <div class="card p-4">
                <!-- breadcrumbs -->
                <div class="breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Indexing Sites</li>
                        </ol>
                    </nav>
                </div>

                <!-- content -->
                <div class="content">
                    <h6>Indexing Site</h6>
                    <p>Brawijaya Law Journal has been covered by the following indexing site:</p>
                    <ul>
                        <li> <a href="https://doaj.org/toc/2503-0841">Directory of Open Access Journals (DOAJ)</a> </li>
                        <li> <a href="http://scholar.google.co.id/citations?user=_fUBqyMAAAAJ&hl=en">Google Scholar</a> </li>
                        <li> <a href="http://sinta.ristekbrin.go.id/journals/detail?id=932">Science and Technology Index (Sinta 2)</a> </li>
                        <li>Crossref</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-4">
            <app-sidenav></app-sidenav>
        </div>

    </div>
</div>
