<div class="container" style="padding: 2rem 3rem;">
  <div class="row">
      <div class="col-md-8 p-2">
          <div class="card p-4">
              <!-- breadcrumbs -->
              <div class="breadcrumb">
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a [routerLink]="'/home'"> Home </a></li>
                          <li class="breadcrumb-item" aria-current="page">Current</li>

                      </ol>
                  </nav>
              </div>

              <!-- content -->
              <div class="content">
                <h5 style="font-family: Noto Serif; font-weight: 600; font-size: 20px;">
                  Vol. {{ edition.volume }} No. {{ edition.issue }} ({{ edition.publish_date | date: 'yyyy' }}): {{ edition.name_edition }}
                </h5>

                <p>
                  <span style="font-weight: bold;">Published</span>: {{ edition.publish_date | date:'dd MMMM yyyy HH:mm' }} <br>
                </p>

                <p>{{ edition.description }}</p>

                <section class="article mt-5">
                  <h5 style="font-family: Noto Serif; font-weight: 600; font-size: 20px;">Article</h5>

                  <ng-container *ngFor="let article of edition.get_articles">
                    <div class="card mb-4" style="width: 100%;" (click)="viewArticle(edition, article)">
                      <div class="card-body">
                        <h5 class="card-title">{{article.article_title}}</h5>
                        <p class="card-text"><span style="font-weight: bold;">{{article.author}},</span> {{article.affiliation}}</p>
                        <p class="card-text">Abstract views: {{article.view}}</p>
                      </div>
                    </div>
                  </ng-container>
                </section>
              </div>
          </div>
      </div>
      <div class="col-md-4 p-4">
          <app-sidenav></app-sidenav>
      </div>
  </div>
</div>
