<div class="container" style="padding: 2rem 3rem;">
  <div class="row">
    <div class="col-md-8 p-2">
      <div class="card p-4">
        <!-- breadcrumbs -->
        <div class="breadcrumb">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a [routerLink]="'/about'"> Home </a></li>
                  <li class="breadcrumb-item active" aria-current="page">Editorial Team</li>
              </ol>
          </nav>
        </div>

        <div class="content">

          <h4 style="font-family: Noto Serif; font-weight: 600; font-size: 28px;">Editorial Team
          </h4>

          <p>
            EDITOR-IN-CHIEF
          </p>

          <p>
            <span style="font-weight: bold;"> Dhiana Puspitawati </span>, (<a href="https://www.scopus.com/authid/detail.uri?authorId=56884809200">SCOPUS Author ID: 56884809200 </a>) Brawijaya University, Indonesia
          </p>

          <p style="font-weight: bold;">
            EDITORIAL BOARD
          </p>

          <p>
            <span style="font-weight: bold;">Mohd Hazmi Bin Mohd Rusli</span>, (<a href="https://www.scopus.com/authid/detail.uri?authorId=56423836700">SCOPUS Author ID: 56423836700</a>) Universiti Sains Islam, Malaysia <br>
            <span style="font-weight: bold;">Lowell Bautista</span>, (<a href="https://www.scopus.com/authid/detail.uri?authorId=55962952600">SCOPUS Author ID: 57160804800</a>) University of Wollongong, Australia <br>
            <span style="font-weight: bold;">Robin Margaret Fraser Warner</span>, (<a href="https://www.scopus.com/authid/detail.uri?authorId=57160698900">SCOPUS Author ID: 56742764400</a>) University of Wollongong, Australia <br>
            <span style="font-weight: bold;">María Teresa Gil-Bazo</span>, (<a href="https://www.scopus.com/authid/detail.uri?authorId=15131802800">SCOPUS Author ID: 15131802800</a>) University of Navarra, Spain <br>
            <span style="font-weight: bold;">Hikmahanto Juwana</span>, (<a href="https://www.scopus.com/authid/detail.uri?authorId=8235016600">SCOPUS Author ID: 8235016600</a>) University of Indonesia, Indonesia <br>
            <span style="font-weight: bold;">Safinaz Mohd Hussein</span>, (<a href="https://www.scopus.com/authid/detail.uri?authorId=48761751700">SCOPUS Author ID: 48761751700</a>) Universiti Kebangsaan Malaysia, Malaysia <br>
            <span style="font-weight: bold;">Steven Freeland</span>, (<a href="https://www.scopus.com/authid/detail.uri?authorId=23975378900">Scopus Author ID: 23975378900</a>) Western Sydney University and Bond University, Australia <br>
            <span style="font-weight: bold;">Raphael Heffron</span>, (<a href="https://www.scopus.com/authid/detail.uri?authorId=54895383200">SCOPUS Author ID: 54895383200</a>) University of Dundee, UK, United Kingdom <br>
            <span style="font-weight: bold;">Piti Eiamchamroonlarp</span>, (<a href="https://www.scopus.com/authid/detail.uri?authorId=56193850500">SCOPUS Author ID: 56193850500</a>) Chulalongkorn University, Thailand <br>
            <span style="font-weight: bold;">Melissa Amy Crouch</span>, (<a href="https://www.scopus.com/authid/detail.uri?authorId=42461285100">SCOPUS Author ID: 42461285100</a>) Law Faculty,University of New South Wales (UNSW), Sydney, Australia <br>
            <span style="font-weight: bold;">Sukarmi </span>, (<a href="https://www.scopus.com/authid/detail.uri?authorId=57293012200">SCOPUS Author ID: 57293012200</a>) Law Faculty,Universitas Brawijaya, Indonesia
          </p>

          <p style="font-weight: bold;">
            MANAGING EDITOR
          </p>

          <p>
            <span style="font-weight: bold;">Fransiska Ayulistya Susanto</span>, (<a href="https://www.scopus.com/authid/detail.uri?authorId=57446489900">SCOPUS Author ID: 57446489900</a>) Universitas Brawijaya, Indonesia <br>
            <span style="font-weight: bold;">Nanda Saraswati</span>, (<a href="https://www.scopus.com/authid/detail.uri?authorId=57226421744">SCOPUS Author ID: 57226421744</a>) Universitas Brawijaya, Indonesia <br>
            <span style="font-weight: bold;">Rika Kurniaty</span>, (<a href="https://www.scopus.com/authid/detail.uri?authorId=57201776313">SCOPUS Author ID : 57201776313</a>) Universitas Brawijaya, Indonesia <br>
          </p>






        </div>




      </div>







    </div>



    <div class="col-md-4 p-4">
      <app-sidenav></app-sidenav>
    </div>
  </div>
</div>
