<div class="container" style="padding: 2rem 3rem;">
  <div class="row">
      <div class="col-md-8 p-2">
          <div class="card p-4">
              <!-- breadcrumbs -->
              <div class="breadcrumb">
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="#">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Contact</li>
                      </ol>
                  </nav>
              </div>

              <!-- content -->
              <div class="content">


                <h5 style="font-family: Noto Serif; font-weight: 600; font-size: 20px;">Contact</h5>

                <p>
                  <span style="font-weight: bold;">Faculty of Law</span> <br>
                  <span style="font-weight: bold;">Brawijaya University</span> <br>
                  Jl. MT. Haryono No.169 <br>
                  Malang 65145, East Java- Indonesia <br>
                  lawjournal@ub.ac.id
                </p>
              </div>

              <div class="row">
                <div class="col-md-6">
                <p style="font-weight: bold;">
                  Principal Contact
                </p>

                <p>
                  Brawijaya Law Journal : Journal of Legal Studies
                  Faculty of Law, Brawijaya University
                </p>

                <p>
                  <span style="font-weight: bold;">Phone</span> <br>
                  +62 341 553898
                </p>

                <p>
                  <a href="mailto:lawjournal@ub.ac.id">lawjournal@ub.ac.id</a>
                </p>

                </div>

                <div class="col-md-6" style="padding-left: 50px;">
                  <p style="font-weight: bold;">
                    Support Contact
                  </p>
                  <p>Fransiska Ayulistya Susanto</p>

                  <p>
                    <span style="font-weight: bold;">Phone</span> <br>
                    +62341 553898
                  </p>

                  <p>
                    <a href="mailto:fransiska.s@ub.ac.id">fransiska.s@ub.ac.id
                    </a>
                  </p>

                </div>
              </div>

          </div>
      </div>
      <div class="col-md-4 p-4">
          <app-sidenav></app-sidenav>
      </div>
  </div>
</div>
