<div class="sidenav-container pt-2">
    <!-- about jurnal -->
    <ul class="list-group">
        <li class="list-group-item text-center" style="font-weight: 600; padding: 1rem;">About Kamu Hukum Journal</li>
        <li class="list-group-item"> <a>Focus & scope</a> </li>
        <li class="list-group-item">Publication Ethics</li>
        <li class="list-group-item">Open Access Policy</li>
        <li class="list-group-item">Peer Review Process</li>
        <li class="list-group-item">Reviewer Acknowledgement</li>
        <li class="list-group-item">Indexing & Abstracting</li>
        <li class="list-group-item">Visitor Statistic</li>
        <li class="list-group-item">Article Processing Charges (APCs)</li>
        <li class="list-group-item">Scopus Tittle Evaluation Tracking</li>
    </ul>
    <!-- information for author -->
    <ul class="list-group mt-5">
        <li class="list-group-item text-center" style="font-weight: 600; padding: 1rem;">Information for Author</li>
        <li class="list-group-item">Author Guidelines</li>
        <li class="list-group-item">Manuscript Template</li>
        <li class="list-group-item">Contemporary Comments</li>
        <li class="list-group-item">Copyright Transfer Agreement</li>
        <li class="list-group-item">Standart Operating Procedure</li>
    </ul>

    <!-- submission button -->
    <button class="btn btn-info mt-4">Make a submission</button>

    <!-- Tools -->
    <ul class="list-group mt-5 text-center">
        <li class="list-group-item">
            Tools
        </li>
        <li style="list-style: none;" class="mt-1">
            <img width="100%" src="https://lawjournal.ub.ac.id/public/site/images/yolanda/62.png" alt="">
        </li>
        <li style="list-style: none;" class="mt-1">
            <img width="100%" src="https://lawjournal.ub.ac.id/public/site/images/yolanda/10.png" alt="">
        </li>
        <li style="list-style: none;" class="mt-1">
            <img width="100%" src="https://lawjournal.ub.ac.id/public/site/images/yolanda/92.png" alt="">
        </li>
        <li style="list-style: none;" class="mt-1">
            <img width="100%" src="https://lawjournal.ub.ac.id/public/site/images/yolanda/102.png" alt="">
        </li>
    </ul>

    <!-- index -->
    <ul class="list-group mt-5 text-center">
        <li class="list-group-item">
            Journal Index
        </li>
        <li style="list-style: none;" class="mt-1">
            <img width="100%" src="https://lawjournal.ub.ac.id/public/site/images/yolanda/12.png" alt="">
        </li>
        <li style="list-style: none;" class="mt-1">
            <img width="100%" src="https://lawjournal.ub.ac.id/public/site/images/yolanda/32.png" alt="">
        </li>
        <li style="list-style: none;" class="mt-1">
            <img width="100%" src="https://lawjournal.ub.ac.id/public/site/images/yolanda/22.png" alt="">
        </li>
        <li style="list-style: none;" class="mt-1">
            <img width="100%" src="https://lawjournal.ub.ac.id/public/site/images/yolanda/52.png" alt="">
        </li>
        <li style="list-style: none;" class="mt-1">
            <img width="100%" src="https://lawjournal.ub.ac.id/public/site/images/yolanda/42.png" alt="">
        </li>
        <li style="list-style: none;" class="mt-1">
            <img width="100%" src="https://lawjournal.ub.ac.id/public/site/images/yolanda/72.png" alt="">
        </li>
        <li style="list-style: none;" class="mt-1">
            <img width="100%" src="https://lawjournal.ub.ac.id/public/site/images/dhiana/dimensions-ku.jpg" alt="">
        </li>
    </ul>
</div>
