<div class="container">
    <div class="row">
        <div class="col-md-8 p-2">
            <div class="card p-4">
                <!-- breadcrumbs -->
                <div class="breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="'/about'"> Home </a></li>
                            <li class="breadcrumb-item active" aria-current="page">Publication Ethics</li>
                        </ol>
                    </nav>
                </div>
                <!-- This form attachment -->
                <div class="form-attach">
                    <h6>Please complete and return this form via email, and retaining a copy for your records.</h6>
                    <p>Brawijaya Law Journal (BLJ) is a peer-reviewed journal published by Faculty of Law, Universitas Brawijaya. This journal is available in print and online and highly respects the publication ethic and avoids any type of plagiarism. This statement explains the ethical behavior of all parties involved in the act of publishing an article in this journal, including the author, the editor-in-chief, the editorial board, the peer-reviewers­­­­­ and the publisher (Faculty of Law, Universitas Brawijaya). This statement is based on COPE’s Best Practice Guidelines for Journal Editors.</p>
                </div>
                <!-- Ethical guidelines -->
                <div class="ethic-guide">
                    <h6>Ethical guidelines for journal publication</h6>
                    <p>
                        The publication of an article in a peer-reviewed journal of BLJ is an essential building block in the development of a coherent and respected network of knowledge. It is a direct reflection of the quality of the work of the authors and the institutions that support them. Peer-reviewed articles support and embody the scientific method. It is, therefore, important to agree upon standards of expected ethical behavior for all parties involved in the act of publishing: the author, the journal editor, the peer-reviewer, the publisher and the society.
                    </p>
                    <p>
                        Faculty of Law, Universitas Brawijaya as the publisher of BLJ takes its duties of guardianship over all stages of publishing seriously and we recognize our ethical behavior and other responsibilities. We are committed to ensuring that advertising, reprinting or other commercial revenue has no impact or influence on the editorial decisions. In addition, the Faculty of Law, Universitas Brawijaya and Editorial Board will assist in communications with other journals and/or publishers where this is useful and necessary.
                    </p>
                </div>
                <!-- research -->
                <div class="research">
                    <h6>Allegations of Research Misconduct</h6>
                    <p>Research misconduct means fabrication, falsification, citation manipulation, or plagiarism in producing, performing, or reviewing research and writing an article by authors, or in reporting research results. When authors are found to have been involved with research misconduct or other serious irregularities involving articles that have been published in scientific journals, Editors have a responsibility to ensure the accuracy and integrity of the scientific record.</p>
                    <p>In cases of suspected misconduct, the Editors and Editorial Board will use the best practices of COPE to assist them to resolve the complaint and address the misconduct fairly. This will include an investigation of the allegation by the Editors. A submitted manuscript that is found to contain such misconduct will be rejected. In cases where a published paper is found to contain such misconduct, a retraction can be published and will be linked to the original article.</p>
                    <p>The first step involves determining the validity of the allegation and an assessment of whether the allegation is consistent with the definition of research misconduct. This initial step also involves determining whether the individuals alleging misconduct have relevant conflicts of interest.</p>
                    <p>If scientific misconduct or the presence of other substantial research irregularities is a possibility, the allegations are shared with the corresponding author, who, on behalf of all of the coauthors, is requested to provide a detailed response. After the response is received and evaluated, additional review and involvement of experts (such as statistical reviewers) may be obtained. For cases in which it is unlikely that misconduct has occurred, clarifications, additional analyses, or both, published as letters to the editor, and often including a correction notice and correction to the published article are sufficient.</p>
                    <p>Institutions are expected to conduct an appropriate and thorough investigation of allegations of scientific misconduct. Ultimately, authors, journals, and institutions have an important obligation to ensure the accuracy of the scientific record. By responding appropriately to concerns about scientific misconduct, and taking necessary actions based on evaluation of these concerns, such as corrections, retractions with replacement, and retractions, Brawijaya Law Journal will continue to fulfill the responsibilities of ensuring the validity and integrity of the scientific record.</p>
                </div>
                <!-- Publication decisions -->
                <div class="publication-decision">
                    <h6>Publication decisions</h6>
                    <p>The editor of the Brawijaya Law Journal is responsible for deciding which of the articles submitted to the journal should be published. The validation of the work in question and its importance to researchers and readers must always drive such decisions. The editors may be guided by the policies of the journal's editorial board and constrained by such legal requirements as shall then be in force regarding libel, copyright infringement and plagiarism. The editors may confer with other editors or reviewers in making this decision.</p>
                </div>
                <!-- Complaints and Appeals -->
                <div class="complain">
                    <h6>Complaints and Appeals</h6>
                    <p>BLJ will have a clear procedure for handling complaints against the journal, Editorial Staff, Editorial Board or Publisher. The complaints will be clarified to a respected person with respect to the case of complaint. The scope of complaints includes anything related to the journal business process, i.e. editorial process, found citation manipulation, unfair editor/reviewer, peer-review manipulation, etc. The complaint cases will be processed according to COPE guideline. The complaint cases should be sent by email to: lawjournal@ub.ac.id</p>
                </div>
                <!-- Fair play -->
                <div class="fair-play">
                    <h6>Fair play</h6>
                    <p>The editor at any time evaluates manuscripts for their intellectual content without regard to race, gender, sexual orientation, religious belief, ethnic origin, citizenship, or political philosophy of the authors.</p>
                </div>
                <!-- Confidentiality -->
                <div class="confidentiality">
                    <h6>Confidentiality</h6>
                    <p>The editor and any editorial staff must not disclose any information about a submitted manuscript to anyone other than the corresponding author, reviewers, potential reviewers, other editorial advisers, and the publisher, as appropriate.</p>
                </div>
                <!-- Disclosure and conflicts of interest -->
                <div class="disclosure">
                    <h6>Disclosure and conflicts of interest</h6>
                    <p>Unpublished materials disclosed in a submitted manuscript must not be used in an editor's own research without the express written consent of the author.</p>
                </div>
                <!-- reviewers duties -->
                <div class="duties">
                    <h6>DUTIES OF REVIEWERS</h6>
                    <p><span class="duties-bold">Contribution to Editorial Decisions.</span> Peer review assists the editor in making editorial decisions and through the editorial communications with the author may also assist the author in improving the paper.</p>

                    <p><span class="duties-bold">Promptness.</span> Any selected referee who feels unqualified to review the research reported in a manuscript or knows that its prompt review will be impossible should notify the editor and excuse himself from the review process.</p>

                    <p><span class="duties-bold">Confidentiality.</span>  Any manuscripts received for review must be treated as confidential documents. They must not be shown to or discussed with others except as authorized by the editor.</p>

                    <p><span class="duties-bold">Standards of Objectivity.</span>  Reviews should be conducted objectively. Personal criticism of the author is inappropriate. Referees should express their views clearly with supporting arguments.</p>

                    <p><span class="duties-bold">Acknowledgment of Sources. </span>Reviewers should identify relevant published work that has not been cited by the authors. Any statement that an observation, derivation, or argument had been previously reported should be accompanied by the relevant citation. A reviewer should also call to the editor's attention any substantial similarity or overlap between the manuscript under consideration and any other published paper of which they have personal knowledge.</p>
                    
                    <p><span class="duties-bold">Disclosure and Conflict of Interest. </span> Privileged information or ideas obtained through peer review must be kept confidential and not used for personal advantage. Reviewers should not consider manuscripts in which they have conflicts of interest resulting from competitive, collaborative, or other relationships or connections with any of the authors, companies, or institutions connected to the papers.</p>
                </div>
                <!-- author duties -->
                <div class="duties">
                    <h6>DUTIES OF AUTHORS</h6>
                    <p><span class="duties-bold">Reporting standards. </span> Authors of reports of original research should present an accurate account of the work performed as well as an objective discussion of its significance. Underlying data should be represented accurately in the paper. A paper should contain sufficient detail and references to permit others to replicate the work. Fraudulent or knowingly inaccurate statements constitute unethical behavior and are unacceptable.</p>
                    
                    <p><span class="duties-bold">Data Access, Retention and Reproducibility.  </span> Authors are asked to provide the raw data in connection with a paper for editorial review, and should be prepared to provide public access to such data, if practicable, and should in any event be prepared to retain such data for a reasonable time after publication. Authors are responsible for data reproducibility.</p>
                    
                    <p> <span class="duties-bold"> Originality and Plagiarism. </span>The authors should ensure that they have written entirely original works, and if the authors have used the work and/or words of others that this has been appropriately cited or quoted. </p>

                    <p> <span class="duties-bold"> Multiple, Redundant or Concurrent Publication. </span> An author should not, in general, publish manuscripts describing essentially the same research in more than one journal or primary publication. Submitting the same manuscript to more than one journal concurrently constitutes unethical publishing behavior and is unacceptable.</p>

                    <p> <span class="duties-bold">Acknowledgment of Sources. </span> Proper acknowledgment of the work of others must always be given. Authors should cite publications that have been influential in determining the nature of the reported work.</p>

                    <p> <span class="duties-bold">Authorship and Contributorship of the Article. </span>Authorship should be limited to those who have made a significant contribution to the conception, design, execution, or interpretation of the reported study. All those who have made significant contributions should be listed as co-authors. Where there are others who have participated in certain substantive aspects of the research project, they should be acknowledged or listed as contributors. The corresponding author should ensure that all appropriate co-authors and no inappropriate co-authors are included on the paper and that all co-authors have seen and approved the final version of the paper and have agreed to its submission for publication. </p>
                    
                    <p> <span class="duties-bold">Disclosure and Conflicts of Interest. </span>All authors should disclose in their manuscript any financial or other substantive conflicts of interest that might be construed to influence the results or interpretation of their manuscript. All sources of financial support for the project should be disclosed. </p>

                    <p> <span class="duties-bold">Fundamental Errors in Published Works. </span> When an author discovers a significant error or inaccuracy in his/her own published work, it is the author’s obligation to promptly notify the journal editor or publisher and cooperate with the editor to retract or correct the paper.</p>
                </div>
                <!-- Ethical oversight -->
                <div class="oversight">
                    <h6>ETHICAL OVERSIGHT</h6>
                    <p>If the research work involves procedures or equipment that have any unusual hazards inherent in their use, the author must clearly identify these in the manuscript in order to obey the ethical conduct of research using animals and human subjects. If required, the Authors must provide legal ethical clearance from the association or legal organization.</p>
                    <p>If the research involves confidential data and of business/marketing practices, authors should clearly justify this matter whether the data or information will be hidden securely or not.</p>
                </div>
                <!-- Intelectual prop -->
                <div class="intelectual">
                    <p>As a journal author, you have rights for a large range of uses of your article, including use by your employing institute or company. These Author rights can be exercised without the need to obtain specific permission.</p>
                    <p>Authors publishing in BLJ have wide rights to use their works for teaching and scholarly purposes without needing to seek permission, including: use for classroom teaching by Author or Author's institution and presentation at a meeting or conference and distributing copies to attendees; use for internal training by author's company; distribution to colleagues for their research use; use in a subsequent compilation of the author's works; inclusion in a thesis or dissertation; reuse of portions or extracts from the article in other works (with full acknowledgement of final article); preparation of derivative works (other than commercial purposes) (with full acknowledgement of final article); voluntary posting on open web sites operated by author or author’s institution for scholarly purposes (follow CC by SA License).</p>
                    <p>Authors and readers can copy and redistribute the material in any medium or format, as well as remix, transform, and build upon the material for any purpose, even commercially, but they must give appropriate credit (cite to the article or content), provide a link to the license, and indicate if changes were made. If you remix, transform or build upon the material, you must distribute your contributions under the same license as the original.</p>
                    <p>Author(s) must obedient the law and/or ethics in treating the object of research and pay attention to the legality of material sources and intellectual property rights.</p>
                </div>
                <!-- peer-review -->
                <div class="peer-review">
                    <h6>PEER-REVIEW PROCESS POLICY</h6>
                    <p>Peer-Review process/policy is declared here: <br> <a class="btn btn-outline-danger mt-2" (click)="navigateTo('peer')">Peer Review Process</a></p>
                </div>
                <!-- post publication -->
                <div class="post-publication">
                    <h6>POST-PUBLICATION DISCUSSIONS AND CORRECTIONS</h6>
                    <p>BLJ accepts discussion and corrections on published articles by reader. In case the reader giving discussions and corrections toward a published article, the reader can contact by email to Editor in Chief by explaining the discussions and corrections. If accepted (by Editor in Chief), the discussions and correction will be published in next issue as Letter to Editor. Respected Authors can reply/answer the discussions and corrections from the reader by sending the reply to Editor in Chief. Therefore, Editors may publish the answer as Reply to Letter to Editor.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4">
            <app-sidenav></app-sidenav>
        </div>
    </div>
</div>