<div class="container" style="padding: 2rem 3rem;">
    <div class="row">
        <div class="col-md-8 p-2">
            <div class="card p-4">
                <!-- breadcrumbs -->
                <div class="breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div>

                <!-- content -->
                <div class="content">
                    <h4>About the Journal</h4>
                    <!-- Editorial Policies -->
                    <div class="editorial-section mt-5">
                        <h6>Editorial Policies</h6>
                        <ul>
                            <li>
                                <a class="editorial" (click)="scrollTo('focus')">Focus & Scope</a>
                            </li>
                            <li>
                                <a class="editorial" (click)="scrollTo('peer')">Peer Review Process</a>
                            </li>
                            <li>
                                <a class="editorial" (click)="scrollTo('publication')">Publication Frequency</a>
                            </li>
                            <li>
                                <a class="editorial" (click)="scrollTo('policy')">Open Application Policy</a>
                            </li>
                            <li>
                                <a class="editorial" (click)="scrollTo('copyright')">License and Copyright Policy</a>
                            </li>
                            <li>
                                <a class="editorial" (click)="scrollTo('archiving')">Archiving</a>
                            </li>
                            <li>
                                <a class="editorial" (click)="scrollTo('apcs')">Article Processing Charges (APCs)</a>
                            </li>
                            <li>
                                <a class="editorial" (click)="scrollTo('plagiarism')">Plagiarism Policy</a>
                            </li>
                            <li>
                                <a class="editorial" (click)="scrollTo('history')">Journal History</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Focus and scope -->
                    <div class="focus mt-5 p-2" #focus>
                        <h6>Focus and Scope</h6>
                        <p>Brawijaya Law Journal : Journal of Legal Studies (BLJ) is an open access and peer-reviewed journal that aims to offer an international academic platform for cross-border legal research in goverment regulation, particularly in developing and emerging countries. These may include but are not limited to various fields such as: the practice of international law, human rights law, civil law, criminal law, constitutional and administrative law, legal pluralism governance, and another section related to contemporary issues in legal scholarship. 

                            The journal sets up specific topic to be covered in each issue which can be analyzed from many perspective of laws as mentioned. However, in each issue we also accommodate latest issue of legal development in general.</p>
                    </div>

                    <!-- peer review -->
                    <div class="peer-review mt-2" #peer>
                        <h6>Peer Review Process</h6>

                        <!-- p1 -->
                        <p>
                            Submitted paper will be firstly reviewed by the editors to determine whether the paper meet the edition theme and submission guidelines. Papers which meet the theme and the guidelines will be assigned to selected reviewers for peer-reviews. BLJ is a double blind peer-reviewed journal which involves reviewers based on their experties relevant to the topic of the paper. Final decision of paper acceptance is solely decided by the editors according to reviewers' comment.
                        </p>
                        <!-- image peer review -->
                        <img width="100%" src="https://lawjournal.ub.ac.id/public/site/images/yolanda/sop-submitting-at-blj3.jpg" alt="">

                        <!-- p2 -->
                        <p class="mt-2">In short, the steps are:</p>
                        <ol>
                            <li>Manuscript Submission (by author)</li>
                            <li>
                                Manuscript Check and Selection (by editors). Editors have the right to directly accept, reject, or review according to the standards set up by BLJ. Prior to further processing steps, plagiarism check using Turnitin is applied for each manuscript.
                            </li>
                            <li>Manuscript Reviewing Process (by reviewers)</li>
                            <li>
                                Notification of Manuscript Acceptance, Revision, or Rejection (by editor to author based on reviewers' comments)
                            </li>
                            <li>Paper Revision (by author)</li>
                            <li>If the editor seems to be satisfied with the revision, notification for acceptance (by editor)</li>
                            <li>Editing and Proofreading (by editor)</li>
                            <li>Publishing process (by editor)</li>
                        </ol>

                        <!-- p3 -->
                        <p>The steps point number 1 to 5 are considered as 1 round of the peer-reviewing process. The editor or editorial board considers the feedback provided by the peer reviewers and arrives at a decision. The following are the most common decisions:</p>
                        <ul>
                            <li>Accepted, as it is. The journal will publish the paper in its original form;</li>
                            <li>Accepted by Minor Revisions, the journal will publish the paper and asks the author to make small corrections (let authors revise within stipulated time);</li>
                            <li>Accepted by Major Revisions, the journal will publish the paper provided the authors make the changes suggested by the reviewers and/or editors (let authors revise within stipulated time);</li>
                            <li>Resubmit (conditional rejection), the journal is willing to reconsider the paper in another round of decision making after the authors make major changes;</li>
                            <li>Rejected (outright rejection), the journal will not publish the paper or reconsider it even if the authors make major revisions.</li>
                        </ul>
                    </div>

                    <!-- Publication frequency -->
                    <div class="publication" #publication>
                        <h6>Publication Frequency</h6>
                        <p>Brawijaya Law Journal is a journal published by Faculty of Law, Universitas Brawijaya two times a year in April and October.</p>
                    </div>
                    <!-- Open Access policy -->
                    <div class="open-access" #policy>
                        <h6>Open Access Policy</h6>
                        <p>This journal provides immediate open access to its content on the principle that making research freely available to the public supports a greater global exchange of knowledge.</p>
                    </div>
                    <!-- License and Copyright Policy -->
                    <div class="license" #copyright>
                        <h6>License and Copyright Policy</h6>
                        <p>The journal holds the copyright for each article published with work simultaneously licensed under a Creative Commons Attribution 4.0 International License (CC BY NC) that allows others to share the work with an acknowledgement of the work's authorship and initial publication in this journal.</p>
                    </div>
                    <!-- Archiving -->
                    <div class="archive" #archiving>
                        <h6>Archiving</h6>
                        <p>This journal utilizes the LOCKSS system to create a distributed archiving system among participating libraries and permits those libraries to create permanent archives of the journal for purposes of preservation and restoration. More...</p>
                    </div>
                    <!-- Article Processing Charges (APCs) -->
                    <div class="apcs" #apcs> 
                        <h6>Article Processing Charges (APCs)</h6>
                        <p>Brawijaya Law Journal welcomes article submissions and does not charge Article Processing Charges (APCs).</p>
                    </div>
                    <!-- Article Submission: 0.00 (USD) -->
                    <div class="article-submission">
                        <h6>Article Submission: 0.00 (USD)</h6>
                        <p>Authors are not required to pay an Article Submission Fee as part of the submission process to contribute to review costs.</p>
                    </div>
                    <!-- Article Publication Charges (APCs): 0.00 (USD) -->
                    <div class="article-publication">
                        <h6>Article Publication Charges (APCs): 0.00 (USD)</h6>
                        <p>For Libraries/Individuals, can read and download any full-text articles for free of charge.</p>
                    </div>
                    <!-- Plagiarism Policy -->
                    <div class="plagiarism" #plagiarism>
                        <h6>Plagiarism Policy</h6>
                        <ul>
                            <li>Plagiarism and self-plagiarism are not allowed;</li>
                            <li>The authors should ensure that they have written entirely original works, and if the authors have used the work and/or words of others, that this has been appropriately cited or quoted;</li>
                            <li>An author should not, in general, publish manuscripts describing essentially the same research in more than one journal or primary publication. Submitting the same manuscript to more than one journal concurrently constitutes unethical publishing behavior and is unacceptable;</li>
                            <li>Proper acknowledgment of the work of others must always be given. Authors should cite publications that have been influential in determining the nature of the reported work.</li>
                        </ul>
                        <p>Working Process:</p>
                        <ol>
                            <li>Editorial Team checking manuscript on offline and online database manually (checking proper citation and quotation);</li>
                            <li>Editorial Team checking manuscript by using Turnitin app. If it is found plagiarism indication (more than 25%), the board will reject the manuscript immediately.</li>
                        </ol>
                    </div>
                    <!-- Journal History -->
                    <div class="history" #history>
                        <h6>Journal History</h6>
                        <p>Brawijaya Law Journal was established by Law Faculty Brawijaya University at the end of 2014 to accomodate research conducted by scholars and professionals in the area of laws.
                        </p>
                        <p>In the beginning of 2016 there were changes in Journal's personnel, especially in editors and managing editor.</p>
                        <p>BLJ was also gradually increase the number of articles published. In 2017, the number of articles published in BLJ increase from 5 articles to 7 articles. Furthermore, in 2018 the number of articles was increased to 9 articles. However, to maintain the quality of the articles, since the second edition of 8th volume (Oktober 2021), the number of articles were reduced to 7 articles again.</p>
                        <p>Further change was also made with regard to referencing style. Since 2022, referencing style used in BLJ was change from Australian Guide for Legal Citation (AGLC) to Chicago Referencing Style</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4">
            <app-sidenav></app-sidenav>
        </div>
    </div>
</div>