<div class="container" style="padding: 2rem 3rem;">
  <div class="row">
      <div class="col-md-8 p-2">
          <div class="card p-4">
              <!-- breadcrumbs -->
              <div class="breadcrumb">
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="#">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Archives</li>
                      </ol>
                  </nav>
              </div>

              <!-- content -->
              <div class="content">
                <h4 style="font-family: Noto Serif; font-weight: 600; font-size: 28px;">Archives</h4>

                <div class="archives-content mt-4">
                  <ng-container *ngFor="let archive of archives">
                    <div class="card mb-4">
                      <div class="card-body" style="cursor: pointer;" (click)="goToView(archive)">
                        <h5 class="card-title">{{archive.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{archive.author}}</h6>
                      </div>
                    </div>
                  </ng-container>
                </div>



                <div>
                  <ng-container *ngFor="let archive of archives">
                  <div class="card mb-4">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="assets/cover.jpg" class="card-img" alt="Image">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <p class="card-text">{{archive.abstract}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  </ng-container>
                </div>




              </div>

          </div>
      </div>
      <div class="col-md-4 p-4">
          <app-sidenav></app-sidenav>
      </div>
  </div>
</div>
