<div class="container" style="padding: 2rem 3rem;">
    <div class="row">
        <div class="col-md-8 p-2">
            <div class="card p-4">
                <!-- breadcrumbs -->
                <div class="breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a style="color: red;">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Login</li>
                        </ol>
                    </nav>
                </div>

                <!-- Login section -->
                <div class="login">
                    <h4 class="mb-4">Login</h4>
                    <div class="form-group mt-2">
                        <label class="font-italic">Email<sup style="color: red;">*</sup> </label>
                        <input type="email" class="form-control" [(ngModel)]="email">
                    </div>
                    <div class="form-group mt-3">
                        <label class="font-italic">Password<sup style="color: red;">*</sup> </label>
                        <input type="password" class="form-control" [(ngModel)]="password">
                        <span><a href="" style="font-size: 12px; color: red;">Forgot your password?</a></span>
                    </div>
                    <div class="button d-flex justify-content-end mt-3" style="gap:1rem;">
                        <a class="btn btn-outline-info" routerLink="/register" routerLinkActive="active">Register</a>
                        <a class="btn btn-outline-danger" (click)="login()">Login</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4">
            <app-sidenav></app-sidenav>
        </div>
    </div>

</div>