<div class="container" style="padding: 2rem 3rem">
  <div class="row">
    <div class="col-md-8 p-2">
        <div class="card p-4">
            <!-- breadcrumbs -->
            <div class="breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="'/about'"> Home </a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Peer-Reviewers List
                    </li>
                    </ol>
                </nav>
            </div>

            <div class="content">
                <h4 style="font-family: Noto Serif; font-weight: 600; font-size: 28px">
                    Peer-Reviewers List
                </h4>
                <ul>
                    <li><strong>Mohd Hazmi Bin Mohd Rusli</strong>, (SCOPUS Author ID: 56423836700), Universiti Sains Islam, Malaysia</li>
                    <li><strong>Lowell Bautista</strong>, (SCOPUS Author ID: 57160804800), University of Wollongong, Australia</li>
                    <li><strong>Kamal Halili Hasan</strong>, (SCOPUS Author ID: 55093012100), Universiti Kebangsaan Malaysia, Malaysia</li>
                    <li><strong>Hikmahanto Juwana</strong>, (SCOPUS Author ID: 8235016600), University of Indonesia, Indonesia</li>
                    <li><strong>Cristoph Enders</strong>, (SCOPUS Author ID: 35589911700), University of Leipzig, Germany</li>
                    <li><strong>Mary Ann Palma-Robles</strong>, (SCOPUS Author ID: 57087091700), University of Wollongong, Australia</li>
                    <li><strong>Safinaz Mohd Hussein</strong>, (SCOPUS Author ID: 48761751700), Universiti Kebangsaan Malaysia, Malaysia</li>
                    <li><strong>Piti Eiamchamroonlarp</strong>, (SCOPUS Author ID: 56193850500), Chulalongkorn University, Thailand</li>
                    <li><strong>Choong Yeow Choy</strong>, (SCOPUS Author ID: 35589911700), University of Malaya, Malaysia</li>
                    <li><strong>Pan Mohamad Faiz</strong>, (SCOPUS Author ID: 57212621413), TC Beirne School of Law, the University of Queensland, Australia, Indonesia</li>
                    <li><strong>Arie Afriansyah</strong>, (SCOPUS Author ID: 57209715185), Faculty of Law, Universitas Indonesia, Indonesia</li>
                    <li><strong>Ketut Supasti Dharmawan</strong>, (SCOPUS Author ID: 57209293413), Udayana University, Indonesia</li>
                    <li><strong>Atip Latipulhayat Uweh</strong>, (SCOPUS Author ID: 15056302300), Universitas Padjadjaran, Indonesia</li>
                    <li><strong>Iwan Permadi</strong>, (SCOPUS Author ID: 57215412990), Universitas Brawijaya, Indonesia</li>
                    <li><strong>Indah Dwi Qurbani</strong>, (SCOPUS Author ID: 57216344866), Universitas Brawijaya, Indonesia</li>
                    <li><strong>Shinta Hadiyantina</strong>, (SCOPUS Author ID: 57414526800), Universitas Brawijaya, Indonesia</li>
                    <li><strong>Budi Santoso</strong>, (SCOPUS Author ID: 56653822400), Universitas Brawijaya, Indonesia</li>
                    <li><strong>Rachmat Safa'at</strong>, (SCOPUS Author ID: 57216726330), Universitas Brawijaya, Indonesia</li>
                    <li><strong>I Nyoman Nurjaya</strong>, (SCOPUS Author ID: 57223871815), Universitas Brawijaya, Indonesia</li>
                    <li><strong>Thohir Luth</strong>, (SCOPUS Author ID: 57202890501), Universitas Brawijaya, Indonesia</li>
                    <li><strong>Muchamad Ali Safaat</strong>, (SCOPUS Author ID: 57351483500), Universitas Brawijaya, Indonesia</li>
                    <li><strong>Nurini Aprilianda</strong>, (SCOPUS Author ID: 57879561600), Universitas Brawijaya, Indonesia</li>
                    <li><strong>Adi Kusumaningrum</strong>, (SCOPUS Author ID: 57217048912), Universitas Brawijaya, Indonesia</li>
                    <li><strong>Rahayu Devi</strong>, Trunojoyo University, Indonesia</li>
                    <li><strong>Gwendolyn Ingrid Utama</strong>, Universitas Pelita Harapan, Indonesia</li>
                    <li><strong>Patricia Audrey Ruslijanto</strong>, Universitas Brawijaya, Indonesia</li>
                    <li><strong>Reka Dewantara</strong>, Universitas Brawijaya, Indonesia</li>
                    <li><strong>Afifah Kusumadara</strong>, Universitas Brawijaya, Indonesia</li>
                    <li><strong>Herman Suryokumoro</strong>, Universitas Brawijaya, Indonesia</li>
                    <li><strong>Sudarsono</strong>, Universitas Brawijaya, Indonesia</li>
                    <li><strong>Hanif Nur Widhiyanti</strong>, Universitas Brawijaya, Indonesia</li>
                </ul>
            </div>
            </div>
        </div>
        <div class="col-md-4 p-4">
            <app-sidenav></app-sidenav>
        </div>
    </div>
</div>
